<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{{ context.title }}</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <style type="text/css">
        html,body{
            width: 100%;
            height: 100%;
            background: url("http://images.vrm.cn/assets/kdlins-newyear2017_20170120/firework.gif")repeat, -webkit-linear-gradient(top,#9370DB,lightblue,white);
            background-attachment:fixed;
        }
    </style>

</head>
<body>
    <script type="text/javascript">

    </script>
    {% include 'menu.html' %}

    <div class="container" style="height: 100%; margin-top: 50px;background-color: rgba(255,251,240,0.7);">
        <div class="starter-template">
            {% for gm in game_list %}
                <ol id="f_options" style="padding:0; margin:0; list-style-type:none;">
                    <li style="margin-left: 15px; width: 70%; float: left"><a href="{{ gm.gID }}/{{gm.gID}}/{{ gm.title }}"><h2>{{  gm.title }}</h2></a></li>
                    <li style="float: left"><h3 style="color: darkred">访问量:</h3></li>
                    <li style="float: left"><h3 style="color: darkred">{{ gm.PV }}</h3></li>
                </ol>
            {% endfor %}

        </div>
    </div><!-- /.container -->

</body>
</html>